* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------------------------------------------------------------------------*/
/* General  */
h1 {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 12px; padding-bottom: 4px;
} 
h2 {
    font-size: 12px;
    font-weight: bold;
    color: #005ca0;
}


/*--------------------------------------------------------------------------------------*/
/* body */
body {
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial;
    padding-bottom: 38px;
    background: #fff;
}
/*--------------------------------------------------------------------------------------*/
/* main menu */
#main_menu_head {
    height: 105px;
    background-color: #909090;
    width: 100%;
}

#main_menu_head  #mainMenu {
    width: 900px;
    margin: 0 auto;
    display: block;
    /* border: solid; */
}

#main_menu_head #mainMenu li {
    height: 100%;
    float: right;
    position: relative;
    
    display: block;
}


#main_menu_head #mainMenu li:first_child {
    width:17px;
    height: 100%;
    float: right;
    position: relative;
    display: block;
}





#main_menu_head #mainMenu li.sep {
    width: 4px;
    height: 21px;
    background: "img/menu_sep.png" no-repeat 0 0px; margin: 0 16px;
}

#main_menu_head #mainMenu li a.home {
    width: 17px;
    background: "img/menu_home.png" no-repeat 0 top;
}

#main_menu_head #mainMenu li a.home:hover, #main_menu_head #mainMenu li a.home.selectednode {
    background-position: -17px top;
}

#main_menu_head #mainMenu li a {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    height: 100%;
}
#main_menu_head #mainMenu li a:hover, #main_menu_head #mainMenu li a.selectednode {
    color: #005ca0;
}

#main_menu_head #mainMenu li a.home {
    width:17px;
    background: url(img/menu_home.png) no-repeat 0 top;
    display: inline-block;
}

#main_menu_head #mainMenu li a.home:hover {
    background-position: -17px top;
    display: inline-block;
}

#main_menu_head #mainMenu li ul {
    position:absolute;
    z-index: 200;
    top: 33px;
    right: 0;
    display: none;
    background: #909090 "img/menu_dropdown_bg.png" repeat-x 0 0;
}

#main_menu_head #mainMenu li:hover ul {
    display: block;
}

#main_menu_head #mainMenu li.sep {
    width: 4px;
    height: 21px;
    background: url(img/menu_sep.png) no-repeat 0 0px;
    margin: 0 16px;
}

#main_menu_head #mainMenu li ul li.sep {
    width: 100%;
    *display: inline;
    zoom: 1;
    padding: 0;
    margin: 0;
    height: 1px;
    background: url(img/menu_dropdown_sep.png) repeat-x 0 0;
}


/* centers */

#center_upper {
    width: 900px;
    margin: 0 auto;
    border: solid;
    display: block;
}

#center_upper img.overlay {
    position: absolute;
    top: 0;
    right: 0;
}

#center_upper .text {
    width: 228px;
    height: 77px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    left: 38px;
    bottom: 6px;
    color: #fff;
    display: block;
    /* background: url(/web/20171013071424im_/http://paz.co.il/images/hp_tab_text_bg.png) no-repeat 0 0; */
}
#center_upper  div.text h3 { font-size: 14px; font-weight: bold; }
#center_upper  div.text p { font-size: 13px; margin-top: 4px; }
#center_upper  div.text a.readMore { float: left; color: #fff; position: relative; bottom: 4px; }
#center_upper div.text a.readMore:hover { color: #005ca0; }





#center_lower {
   width: 900px;
   margin: 0 auto;
   border: solid;
}


#center_upper > #right {
    width: 33%;
    float: right;
        
}

#center_upper > #middle {
    width: 33%;
    float: right;
    
}

#center_upper > #left {
    width: 33%;
    float: right;
    
}

/*-----------------------------------------------------------------------------------------------------*/
/* footer */

footer {
  width: 100%;
  height: 38px;
  position: fixed;
  z-index: 999999;
  bottom: 0px;
  background-color: #909090;
    
}

footer .lower_menu {
    width: 900px;
    height: 100%;
    font-size: 14px; margin-top: 16px;
    margin: 0 auto; 
}

footer .lower_menu ul  {
    color: #fff;
}  

footer .lower_menu li  {
    float: right;
    display: block;
}  

footer .lower_menu li.sep  {
    margin: 0 5px;
}  

footer .lower_menu li a {
    color: #fff;
}  

footer .lower_menu li a:hover {
    color: #005CA0; 
}  

footer .lower_menu li a.fbLink {
    display: block;
    position: relative;
    bottom: 2px;
    width: 18px;
    height: 18px;
    background: url(img/fb_icon.png) no-repeat 0 0;
}

footer .lower_menu li.sep {
    margin: 0 5px;
    color: #fff;
}
